[user]
	email = ircubic@gmail.com
	name = Daniel Bruce
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[pack]
	threads = 5
[alias]
	pr = !git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && :
	hist = log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate
	viz = !gitk --all
	st = status -sb
	ci = commit
	br = branch
	brn = checkout -b
	co = checkout
	df = diff
	wdiff = diff --color-words
	sq = merge --squash

	svm = merge --no-ff --no-commit
	svr = svn rebase

	iad = add --interactive
	ici = commit --interactive
	aci = commit --amend

	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rbs = rebase --skip

	vgc = repack -f -a -d --depth=128 --window=1024
	nvgc = !ionice -n7 nice -n20 git vgc
	short = rev-parse --short
[merge]
	tool = meld
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[diff]
	tool = meld
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rerere]
	enabled = true
[push]
	default = current
