[user]
	email = ircubic@gmail.com
	name = Daniel Bruce
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[pack]
	threads = 9
[alias]
	pr = !git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && :
	hist = log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate
	viz = !gitk --all
	st = status -sb
	ci = commit
	br = branch
	brn = checkout -b
	co = checkout
	df = diff
	wdiff = diff --color-words
	sq = merge --squash
	fpush = push --force-with-lease
	lol = log --graph --decorate --pretty=oneline --abbrev-commit

	svm = merge --no-ff --no-commit
	svr = svn rebase

	iad = add --interactive
	ici = commit --interactive
	aci = commit --amend

	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rbs = rebase --skip

	vgc = repack -Ad --depth=25 --window=250
	nvgc = !ionice -n7 nice -n20 git vgc
	rebuild = repack -fAd --depth=50 --window=1000
	short = rev-parse --short
[merge]
	tool = bc3
	conflictstyle = diff3
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[diff]
	tool = bcomp
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rerere]
	enabled = true
[push]
	default = current
[difftool "bcomp"]
    trustExitCode = true
    cmd = "/usr/bin/bcompare" "$LOCAL" "$REMOTE"
[mergetool "bcomp"]
    trustExitCode = true
    cmd = "/usr/bin/bcompare" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[mergetool "bc3"]
	trustExitCode = true
[cola]
	spellcheck = false
